body {
    margin: 0;
    padding: 0;
    background-color: #c6b5fc;
    overflow-x: hidden;
}

/* Header Part */

header ul {
    background: #AD956B;
    margin: 0;
    height: 100px;
    text-align: center;
    font-size: 30px;
    font-family: "hurricane";
}

header ul .containerHeader li {

    line-height: 120px
}

header ul .containerHeader {
    display: flex;
    justify-content: center;
    text-align: center;
}

header ul .containerHeader img {
    position: absolute;
    left: 0;
    width: 20%;
    height: 10.7%;
    object-fit: cover;
}

header ul a {
    text-decoration: none;
}

header ul img {
    position: absolute;
    left: 8px;
    top: 5px;
    width: 60px;
}

header ul li {
    display: inline-block;
    color: #00309a;
    font-weight: bold;
    font-size: 35px;
    list-style-type: none;
    line-height: 200px;
    margin-left: 35px;
}

/* Container Section Part */

.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
    margin-top: 200px;
}



header ul  .fleurdeLys {
    position: absolute;
    right: 20px;
    top: 5px;
    width: 60px;
    
}

header ul .fleurdeLys img {
    width: 60px;
}

/* Picture Section */
.container .circle img {
    width: 260px;
    height: 260px;
    object-fit: cover;
    margin-left: 120px;
    border-radius: 50%;
    float: left;
    shape-outside: circle(50%);
    margin: 0px 25px 25px 0px;
}

/* Link Section */

.container a {
    text-decoration: none;
}

/* Button Section */

.container .boutonPrestation {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-decoration: none;
}



.container .boutonPrestation button {
    font-family: "hurricane";
    font-size: 30px;
    width: 150px;
    height: 60px;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 60px;
    background: #AD956B;
    color: #00309a;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
}




.container img:nth-child(2) {
    display: none;
}

/* Footer Part */

footer ul {
    position: absolute;
    bottom: -300px;
    margin: 0;
    width: 100%;
    height: 90px;
    background: #AD956B;
}

footer ul .logo img {
    width: 60px;
}

footer ul .logo {
    display: flex;
    justify-content: center;
}

footer ul .logo img {
    margin: 0;
    margin-top: 20px;
}

footer ul .logo :nth-child(2) {
    margin-left: 40px;
}

footer ul .logo :nth-child(3) {
    margin-left: 40px;
}

footer ul .titre {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    color: #00309a;
    font-size: 25px;
    font-family: "Roboto";
}

/* Responsive Design 428* 926*/

@media screen and (max-width: 428px) {
    /* Body part */
    body {
        margin: 0;
    }

    /* Header Part */

    header ul {
        height: 80px;
        width: 100%;
    }
    
    header ul .containerHeader  {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 30px;
        
        
    }
    
    header  ul .containerHeader  li {
        display: inline-block;
        margin-right:0px;
        line-height: 90px;
        font-size: 30px;
    }

    header ul .containerHeader img {
        position: absolute;
        width: 35%;
        height: 11%;
        margin-left: 0px;
    }

    /* Section Part */

    .container {
        width: 100%;
        margin-top: 410px;
    }
    .container .circle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 45px;
    }

    .container .circle p {
        margin-left: 30px;
        font-family: "Roboto";
    }
    /* Button part */

    .container .boutonPrestation {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    /* Footer */
    footer {
        position: absolute;
        width: 100%;
        bottom: -390px;
    }

    footer ul .logo {
        display: flex;
        justify-content: flex-start;
        margin-left: 0px;
    }
    footer ul .logo img {
        width: 42px;
    }

    footer ul .titre {
        font-size: 17px;
        line-height: 42px;
        display: block;
    }
}
@media screen and (max-width: 414px) {
    body {
        margin: 0;
        padding: 0;
    }
    /* Header Part */

    header ul {
        margin: 0;
        padding: 0;
        height: 87px;
        width: 100%;
        
    }

    header ul .containerHeader img {
        width: 35%;
        height: 9.8%;
        margin-left: 0px;
    }

    header ul .containerHeader li {
        line-height: 90px;
        margin-right: -20px;
    }
    header ul img {
        width: 21%;
    }

    /* Container */

    .container{
        margin-top: 300px;
    }

    .container .circle {
        margin: auto;
    }
    .container .circle p {
        margin-left: 12px;
        font-size: 15px;
        font-family: "Roboto";
    }

    /* Button responsive */

    .boutonPrestation {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Footer  Part*/
    footer {
        position: absolute;
        width: 100%;
        height: 0px;
        bottom: -130px;
    }

    footer ul {
        margin: 0;
    }

    footer ul .logo {
        display: flex;
        justify-content: flex-start;
        margin-left: 0px;
    }
    footer ul .logo img {
        width: 42px;
    }

    footer ul .titre {
        font-size: 17px;
        line-height: 42px;
        display: block;
    }
}

@media screen and (max-width: 390px) {
    body {
        margin: 0;
        padding: 0;
    }
    /* Header Part */

    header ul {
        margin: 0;
        padding: 0;
        height: 82px;
        width: 100%;
        margin-left: 0px;
    }

    header ul .containerHeader img {
        width: 35%;
        height: 9.8%;
        margin-left: 0px;
    }

    header ul li {
        line-height: 90px;
    }
    header ul img {
        width: 21%;
    }

    /* Container part */

    .container{
        margin-top: 300px;
    }

    .container .circle {
        margin-top: 80px;
    }

    .container .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    /* Footer  Part*/
    footer {
        position: absolute;
        width: 100%;
        bottom: -240px;
    }

    footer ul {
        margin: 0;
        padding: 0;
    }

    footer ul .logo {
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
    }
    footer ul .logo img {
        width: 42px;
    }

    footer ul .titre {
        font-size: 17px;
        line-height: 42px;
        display: block;
    }
}
