body {
    margin: 0;
    padding: 0;
    background-color: #c6b5fc;
    overflow-x: hidden;
}

/* Header Part */

header ul {
    background: #4e35ff;
    margin: 0;
    height: 200px;
    text-align: center;
    font-size: 30px;
    font-family: "hurricane";
    position: relative;
}

header ul a {
    text-decoration: none;
}

header ul img {
    position: absolute;
    width: 200px;
    left: 0px;
}

header ul li {
    display: inline-block;
    color: #fff;
    list-style-type: none;
    line-height: 200px;
    margin-left: 60px;
}

/* Container Section Part */

.container {
    display: flex;
    justify-content: flex-start;
    margin-top: 70px;
   
}
.container img {
    width: 260px;
    height: 260px;
    object-fit: cover;
    margin-left:120px;
    border-radius:50%;
    
}

.container .circle {
    margin-left: 50px;
}

.container .circle img {
    float: left;
    shape-outside: circle(50%);
    margin: 0px 25px 25px 0px;
}

.boutonPrestation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boutonPrestation button {
    font-family: "hurricane";
    font-size: 30px;
    width: 150px;
    height: 60px;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 60px;
    background: #4e35ff;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}


.container img:nth-child(2){
    display: none;
}

/* Footer Part */

footer ul {
    position: absolute;
    bottom: -300px;
    margin: 0;
    width: 100%;
    height: 90px;
    background: #4e35ff;
}

footer ul .logo img {
    width: 60px;
}

footer ul .logo {
    display: flex;
    justify-content: center;
}

footer ul .logo img {
    margin: 0;
    margin-top: 20px;
}

footer ul .logo :nth-child(2) {
    margin-left: 40px;
}

footer ul .logo :nth-child(3) {
    margin-left: 40px;
}

footer ul .titre {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    color: #fff;
    font-size: 25px;
    font-family: "Roboto";
}


/* Responsive Design 428* 926*/

@media screen and (max-width: 428px){

    /* Body part */
    body{
        overflow-x: hidden;
        margin: 0;
        height: 130vh;
    }


    /* Header Part */

    header ul {
        margin: 0;
        padding: 0;
        height: 90px;
        width: 100%;
    }
    
    header ul li {
        line-height: 90px;

    }
    header ul img {
        width: 21%;
    }


    /* Section Part */

    .container .circle   {
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
        margin-right: 45px;

    }

    .container .circle p {
        font-family: "Roboto";
    }
    /* Button part */

    .boutonPrestation{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        
    }

   

    /* Footer */
    footer{
        position: absolute;
        width: 100%;
        bottom: -90px;
    }

    footer ul .logo {
        display: flex;
        justify-content: flex-start;
        margin-left: 0px;
    }
    footer ul .logo img {
        width: 42px;
    }

    footer ul .titre {
        font-size: 17px;
        line-height: 42px;
        display: block;
      
    }


}
@media screen and (max-width:414px){


    body{
        margin: 0;
        padding: 0;
    }
 /* Header Part */

 header ul {
    margin: 0;
    padding: 0;
    height: 87px;
    width: 100%;
}

header ul li {
    line-height: 90px;

}
header ul img {
    width: 21%;
}

/* Footer  Part*/
footer{
    position: absolute;
    width: 100%;
    bottom: -150px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul .logo {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}
footer ul .logo img {
    width: 42px;
}

footer ul .titre {
    font-size: 17px;
    line-height: 42px;
    display: block;
  
}

}

@media screen and (max-width:390px){
    
    body{
        margin: 0;
        padding: 0;
    }
 /* Header Part */

 header ul {
    margin: 0;
    padding: 0;
    height: 82px;
    width: 100%;
}

header ul li {
    line-height: 90px;

}
header ul img {
    width: 21%;
}

/* Footer  Part*/
footer{
    position: absolute;
    width: 100%;
    bottom: -240px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul .logo {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}
footer ul .logo img {
    width: 42px;
}

footer ul .titre {
    font-size: 17px;
    line-height: 42px;
    display: block;
  
}
}
