html,
body {
    height: 100vh;
    margin: 0;
    background-color: #c6b5fc;
    overflow-x: hidden;
}

/* Header Part */

header ul {
    background: #AD956B;
    margin: 0;
    height: 100px;
    text-align: center;
}

header ul a {
    text-decoration: none;
}

header ul img {
    position: absolute;
    left: 8px;
    top: 5px;
    width: 60px;
}

header ul .fleurdeLys  {
    position: absolute;
   right: 80px;
   top: 0;
   
}

header ul .fleurdeLys img {
    width: 60px;
}

header ul li {
    display: inline-block;
    color: #00309a;
    font-weight: bold;
    list-style-type: none;
    line-height: 100px;
    font-size: 30px;
    margin-left: 35px;
    font-family: "hurricane";
}


.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    
}
iframe {
    margin-top: 80px;
    margin-left: 125px;
}

.container h1 {
    position: absolute;
    top: 120px;
    right: 200px;
    width: 700px;
    text-align: center;
    padding: 50px;
    color: #00309a;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
    margin-top: 200px;
    font-family: "hurricane"";
}

/* Footer Part */

footer ul {
    position: absolute;
    bottom: -200px;
    margin: 0;
    width: 100%;
    height: 90px;
    background:#AD956B ;
}

footer ul .titre {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    color: #00309a;
    font-weight: bold;
    font-size: 25px;
    font-family: "Roboto";
}

footer ul .logo img {
    width: 60px;
}

footer ul .logo {
    display: flex;
    justify-content: center;
}

footer ul .logo img {
    margin-top: 20px;
}

footer ul .logo :nth-child(2) {
    margin-left: 40px;
}

footer ul .logo :nth-child(3) {
    margin-left: 40px;
}

/* Responsive mobile */

 @media screen and (max-width: 428px) { 
    body {
        margin: 0;
        padding: 0;
       
    }

    header ul {
        margin: 0;
        padding: 0;
        height: 80px;
        width: 100%;
    }
    
    header ul li {
        line-height: 90px;
        margin-right: -20px;
    
    }
    header ul  img {
       
            position: absolute;
            width: 35%;
            height: 11%;
            margin-left: 0px;
        
    }

    iframe {
        width: 80%;
        margin-left: 0px;
        margin-top: 30px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container h1 {
        margin-top: 420px;
        margin-right:-140px;
        white-space: wrap;
        font-size: 25px;
        width: 200px;
    }
    footer {
        position: absolute;
        bottom: -200px;
        height: 70px;
        width: 100%;
    }

    footer ul {
        margin: 0;
        padding: 0;
    }
    footer ul .logo {
       
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
    }
    footer ul .logo img {
        width: 42px;
    }

    footer ul .titre {
        font-size: 17px;
        line-height: 42px;
        display: block;
      
    }

    .container img:nth-child(1) {
        display: none;
    }
    .container img:nth-child(2) {
        display: block;
        width: 100%;
        margin-top: 30px;
    }
}


@media screen and (max-width: 414px){

    body{
        margin: 0;
        padding: 0;
    }
    /* Header Part */

 header ul {
    margin: 0;
    padding: 0;
    height: 87px;
    width: 100%;
    margin-left: 35px;
}


header ul li {
    line-height: 90px;

}
header ul img {
  
        width: 35%;
        height: 9.8%;
        margin-left: 0px;
    }



/* Container */

.container iframe {
    margin-top: 20px;
}

.container h1 {
    margin-top: 430px;
}

/* Footer  Part*/

footer{
    position: absolute;
    bottom: -90px;
}

footer ul {
    margin: 0;
    padding: 0;
}
footer ul .logo {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}
footer ul .logo img {
    width: 42px;
}

footer ul .titre {
    font-size: 17px;
    line-height: 42px;
    display: block;
  


}
}

@media screen and (max-width:390px){

    /* Header part */
   
    
    header ul {
        margin: 0;
        padding: 0;
        height: 90px;
        width: 100%;
        
    }
    
    header ul li {
        display: inline-block;
        margin-right: -20px;
        line-height: 90px;
    
    }

    
    header ul img {
            width: 35%;
            height: 10.7%;
            margin-left: 0px;
        
    
    }

    /* Container Part */

.container iframe {
    margin-top: 20px;
}

.container h1 {
    margin-top: 390px;
    margin-right: -150px;
}

   
}