body {
    margin: 0;
    padding: 0;
    background-color: #c6b5fc;
    overflow-x: hidden;
}

/* Header Part */

header ul {
    background: #4e35ff;
    margin: 0;
    height: 200px;
    text-align: center;
    font-size: 30px;
    font-family: "hurricane";
}

header ul img {
    position: absolute;
    width:200px;
    left: 0px;
}

header ul li {
    display: inline-block;
    color: #fff;
    list-style-type: none;
    line-height: 200px;
    margin-left: 60px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.container img {
    width: 50%;
}

.container img:nth-child(2){
    display: none;
}

/* Footer Part */

footer ul {
    position: absolute;
    bottom: -300px;
    margin: 0;
    width: 100%;
    height: 90px;
    background: #4e35ff;
}

footer ul .logo img {
    width: 60px;
}

footer ul .logo {
    display: flex;
    justify-content: center;
}

footer ul .logo img {
    margin: 0;
    margin-top: 20px;
}

footer ul .logo :nth-child(2) {
    margin-left: 40px;
}

footer ul .logo :nth-child(3) {
    margin-left: 40px;
}

footer ul .titre {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    color: #fff;
    font-size: 25px;
    font-family: "Roboto";
}

/* Responsive Mobile */

@media screen and (max-width:500px){

    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        
    }

    header ul {
        width: 100%;
    }

    .container {
        display: flex;
        margin-top: 150px;
    }
    .container img {
        margin-left: 0px;
    }

    footer {
        position: absolute;
        bottom: 0px;
        height: 80px;
        width: 100%;
    }

    footer ul .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer ul .logo img {
        width: 42px;
    }

    .container img:nth-child(1){
        display: none;
    }
    .container img:nth-child(2){
        display: flex;
        width: 100%;
        margin-top: 50px;
    }


}

@media screen and (max-width: 428px) {
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        
    }
    
    

    header ul {
        width: 100%;
        height: 163px;
    }

    header ul img {
        width: 38%;
    }

    .container {
        display: flex;
        margin-top: 150px;
    }
    

    footer {
        position: absolute;
        bottom: 0px;
        height: 80px;
        width: 100%;
    }

    footer ul .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer ul .logo img {
        width: 42px;
    }

    .container img:nth-child(1){
        display: none;
    }
    .container img:nth-child(2){
        display: flex;
        width: 100%;
        margin-top: 150px;
    }

   
}

@media screen and (max-width: 414px) {
    body {
        margin: 0;
        height: 0vh;
        overflow-x: hidden;
        
    }
    
    

    header ul {
        margin: 0;
        width: 100%;
        height: 110px;
    }

    header ul img {
        width: 27%;
    }
    header ul li {
        line-height: 110px;
    }

    .container {
        display: flex;
        margin-top: 150px;
    }

    
    

    footer {
        position: absolute;
        bottom: 224px;
        height: 80px;
        width: 100%;
    }

    footer ul .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer ul .logo img {
        width: 42px;
    }

    .container img:nth-child(1){
        display: none;
    }
    .container img:nth-child(2){
        display: flex;
        width: 100%;
        margin-top:50px;
    }

   
}

@media screen and (max-width:390px){

    header ul {
        height: 90px;
        margin-left: 5px;
    }
    header ul img{
        width: 26%;
    }

    
}

@media screen and (max-width:375px){

    header ul {
        height: 110px;
        margin-left: 5px;
    }
    
    header ul li {
        line-height: 110px;

    }
    header ul img{
        width: 30%;

    }
}