body {
    margin: 0;
    padding: 0;
    background-color: #c6b5fc;
    overflow-x: hidden;
}

/* Header Part */

header ul {
    background: #4e35ff;
    margin: 0;
    height: 200px;
    text-align: center;
    font-size: 30px;
    font-family: "hurricane";
    position: relative;
}

header ul a {
    text-decoration: none;
}

header ul img {
    position: absolute;
    width: 200px;
    left: 0px;
}

header ul li {
    display: inline-block;
    color: #fff;
    list-style-type: none;
    line-height: 200px;
    margin-left: 60px;
}

/* Container Section Part */

.container {
    display: flex;
    justify-content: flex-start;
    margin-top: 70px;
   
}
.container img {
    width: 260px;
    height: 260px;
    object-fit: cover;
    margin-left:120px;
    border-radius:50%;
    
}

.container .circle {
    margin-left: 50px;
}

.container .circle img {
    float: left;
    shape-outside: circle(50%);
    margin: 0px 25px 25px 0px;
}

.boutonPrestation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boutonPrestation button {
    font-family: "hurricane";
    font-size: 30px;
    width: 150px;
    height: 60px;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 60px;
    background: #4e35ff;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}


.container img:nth-child(2){
    display: none;
}

/* Footer Part */

footer ul {
    position: absolute;
    bottom: -300px;
    margin: 0;
    width: 100%;
    height: 90px;
    background: #4e35ff;
}

footer ul .logo img {
    width: 60px;
}

footer ul .logo {
    display: flex;
    justify-content: center;
}

footer ul .logo img {
    margin: 0;
    margin-top: 20px;
}

footer ul .logo :nth-child(2) {
    margin-left: 40px;
}

footer ul .logo :nth-child(3) {
    margin-left: 40px;
}

footer ul .titre {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    color: #fff;
    font-size: 25px;
    font-family: "Roboto";
}

/* Responsive Mobile */


@media screen and (max-width: 428px){

    /* Header part */
    body{
        margin: 0;
        padding: 0;
    }
    header ul {
        height: 120px;
        width:100%;
    }
    header ul li {
        line-height: 100px;
    }
    header ul img {
        width: 28%;
    }
    

    .container .circle   {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }

    .container .circle p {
        font-size: 16px;
        margin-left:0px;
    }

    /* Button part */

    .boutonPrestation button {
        margin-top: 30px;
    }

    /* Footer Part */

    footer{
        position: absolute;
        bottom: -20px;
        height: 70px;
        width: 100%;
    }

    footer ul .logo {
        display: flex;
        justify-content: flex-start;
        margin-left: 10px;
    }
    footer ul .logo img {
        width: 42px;
    }

    footer ul .titre {
        font-size: 17px;
        line-height: 42px;
        display: block;
      
    }

}

@media screen and (max-width:414px){
    /* Header part */
    body{
        margin: 0;
     
    }
    header ul {
        height: 125px;
        width: 100%;
    }
    header ul li {
        line-height: 100px;
    }
    header ul img {
        width: 28%;
    }

    /* Container Part */
    .container .circle p {
        margin: 0;
        font-size: 16px;
       
    }

     /* Button Prestation */

     .boutonPrestation button {
        margin-top: 40px;
    }

    /* Footer part */
    footer{
        position: absolute;
        bottom: -30px;
        height: 70px;
        width: 100%;
    }

    footer ul {
        margin: 0;
        padding: 0;
    }
    footer ul .logo {
        display: flex;
        justify-content: flex-start;
        margin-left: 30px;
    }
    footer ul .logo img {
        width: 42px;
    }

    footer ul .titre {
        font-size: 17px;
        line-height: 42px;
        display: block;
      
    }

}

@media screen and (max-width:390px){

  
    

        /* Header part */
        body{
            margin: 0;
         
        }
        header ul {
            height: 109px;
            width: 100%;
        }
        header ul li {
            line-height: 100px;
        }
      

            /* Footer part */
            footer{
                position: absolute;
                bottom: -100px;
                height: 70px;
                width: 100%;
            }
        
            footer ul {
                margin: 0;
                padding: 0;
            }
          
            footer ul .logo {
                display: flex;
                justify-content: flex-start;
                margin-left:20px;
            }
            footer ul .logo img {
                width: 42px;
            }
        
            footer ul .titre {
                font-size: 17px;
                line-height: 42px;
                display: block;
              
        }
}

@media screen and (max-width:375px){
    
        /* Header part */
        body{
            margin: 0;
            padding: 0;
         
        }
        header ul {
            height: 115px;
            width: 100%;
        }
        header ul li {
            line-height: 100px;
        }

        header ul img {
            width: 28%;
        }
      

            /* Footer part */
            footer{
                position: absolute;
                bottom: -360px;
               
            }

            footer ul {
                margin: 0;
                padding: 0;
            }

            footer ul .titre {
                font-size: 15px;
                display: block;
              
        }
        
         
        }

