html,
body {
    height: 100vh;
    margin: 0;
    background-color: #c6b5fc;
    overflow-x: hidden;
}

/* Header Part */

header ul {
    background: #4e35ff;
    margin: 0;
    height: 200px;
    text-align: center;
}

header ul a {
    text-decoration: none;
}

header ul img {
    position: absolute;
    width: 200px;
    left: 0px;
}

header ul li {
    display: inline-block;
    color: #fff;
    list-style-type: none;
    line-height: 200px;
    font-size: 30px;
    margin-left: 60px;
    font-family: "hurricane";
}

iframe {
    margin-top: 50px;
    margin-left: 130px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.container h1 {
    font-family: "Roboto";
    color: black;
    font-size: 40px;
    margin-top: 150px;
    margin-left: 50px;
}

/* Footer Part */

footer ul {
    position: absolute;
    bottom: -200px;
    margin: 0;
    width: 100%;
    height: 90px;
    background: #4e35ff;
}

footer ul .titre {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    color: #fff;
    font-size: 25px;
    font-family: "Roboto";
}

footer ul .logo img {
    width: 60px;
}

footer ul .logo {
    display: flex;
    justify-content: center;
}

footer ul .logo img {
    margin-top: 20px;
}

footer ul .logo :nth-child(2) {
    margin-left: 40px;
}

footer ul .logo :nth-child(3) {
    margin-left: 40px;
}

/* Responsive mobile */

 @media screen and (max-width: 428px) { 
    body {
        margin: 0;
        padding: 0;
       
    }

    header ul {
        height: 120px;
        width: 100%;
    }
    header ul li {
        line-height: 100px;
    }
    header ul img {
        width: 28%;
    }

    iframe {
        width: 80%;
        margin-left: 0px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container h1 {
        margin-top: 25px;
        margin-left: 60px;
        white-space: wrap;
        font-size: 25px;
    }
    footer {
        position: absolute;
        bottom: 120px;
        height: 70px;
        width: 100%;
    }

    footer ul .logo {
        display: flex;
        justify-content: flex-start;
        margin-left: 10px;
    }
    footer ul .logo img {
        width: 42px;
    }

    footer ul .titre {
        font-size: 17px;
        line-height: 42px;
        display: block;
      
    }

    .container img:nth-child(1) {
        display: none;
    }
    .container img:nth-child(2) {
        display: block;
        width: 100%;
        margin-top: 30px;
    }
}

