html,body{
    height: 100vh;
    margin: 0;
    background-color: #c6b5fc;
    overflow-x: hidden;

}

/* Header Part */

header ul {
    background: #4e35ff;
    margin: 0;
    height: 60px;
    text-align: center;

}

header ul li {
    display: inline-block;
    color: #fff;
    list-style-type: none;
    line-height: 60px;
    font-size: 30px;
    margin-left: 30px;
    font-family: "hurricane";
}

iframe{
    margin-top: 50px;
    margin-left: 130px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.container h1{
    font-family: "Roboto";
    color: black;
    font-size: 50px;
   margin-top: 150px;
   margin-left: 50px;
}


/* Footer Part */


footer ul{
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    height:90px;
    background: #4e35ff;
   
}

footer ul .logo img{
    width: 60px;
}

footer ul .logo{
    display: flex;
    justify-content: center ;
   

}

footer ul .logo img {
    margin-top: 20px;
}

footer ul .logo :nth-child(2){
    margin-left: 40px;
}

footer ul .logo :nth-child(3){
    margin-left: 40px;
}

/* Responsive mobile */

@media screen and (max-width:500px){
    body {
        margin: 0;
        padding: 0;
        overflow-y: hidden;
    }


    header ul {
        width: 100%;
    }

    iframe{
        width: 80%;
       margin-left: 30px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
     
        
    }


    .container h1 {
        margin-top: 25px;
        margin-left: 60px;
        white-space: wrap;
        font-size: 25px;
    }
    footer {
        position: absolute;
        bottom: -150px;
        height: 70px;
        width: 100%;
    }

    footer ul .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer ul .logo img {
        width: 42px;
    }

    .container img:nth-child(1){
        display: none;
    }
    .container img:nth-child(2){
        display: block;
        width: 100%;
        margin-top: 30px;
    }
}

@media screen and (max-width: 414px) {
    body {
        margin: 0;
        padding: 0;
        overflow-y: hidden;
    }


    header ul {
        width: 90%;
    }

    iframe{
        width: 80%;
       margin-left: 30px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
     
        
    }


    .container h1 {
        margin-top: 20px;
        font-size: 25px;
    }
    footer {
        position: absolute;
        bottom: -150px;
        height: 70px;
        width: 90%;
    }

    footer ul .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer ul .logo img {
        width: 42px;
    }

    .container img:nth-child(1){
        display: none;
    }
    .container img:nth-child(2){
        display: block;
        width: 100%;
        margin-top: 30px;
    }
}